// Brand Colors
$brand-colors: (
  "butter": #FAF1E5,
  "l-blue": #F5FAFB,
  "green": #105C68,
  "red": #DC4801,
  "autumn": #C76D00,
  "white": #fff,
  "gray": #F5F5F5

);

// Text Colors
$text-colors: (
  "dark":     #000,
  "medium":   #323648,
  "base":     #6E6D6D,
  "light":    #ECF0F1,
  "white":    #fff
);

// Gray Colors
$gray-colors: (
  "gray-darker":  #2d3339,
  "gray-dark":    #3f4850,
  "gray":         #c6ccd2,
  "gray-light":   #edeff0,
  "gray-lighter": #f9fafa
);

// UI Colors
$ui-colors: (
  "link": #488391,
  "red": #DC4801
);

$spacing: (
  0:   0rem,
  0.5: 0.5rem,
  1:   1rem,
  2:   1.5rem,
  3:   2rem,
  4:   3rem,
  5:   4rem,
  6:   5rem,
  7:   6rem,
  8:   7rem,
  9:   8rem,
  10:  9rem,
  11:  10rem,
  12:  12rem
);

// Spacing Sides
$spacing-sides: (
  all: all,
  t:   top,
  b:   bottom,
  l:   left,
  r:   right,
  lr:  null,
  tb:  null
);

// Type Variables
$text-size: (
  0: 5rem,
  1: 4rem,
  2: 3rem,
  3: 2.5rem,
  4: 2rem,
  5: 1.5rem,
  6: 1.125rem,
  7: 1rem,
  8: 0.875rem,
  9: 0.75rem
);
$type-primary: "Open Sans", Helvetica, sans-serif;
$type-secondary: "Playfair Display", Georgia, serif;
$bold: 700;
$bolder: 700;

$letter-spacing: (
  wide: .35rem,
  mid: .2rem,
  small: .1rem
);

// Global Border Variables
$border-color-dark:   #000;
$border-color-mid:    #333;
$border-color-normal: #e8ebed;
$border-color-light:  #fff;
$border-radius: 4px;

// Grid max width
$grid-width: 1260px;

// Global Responsive Breakpoints
$sm: 480px;
$md: 800px;
$lg: 960px;
$xl: 1140px;
